@import 'variables';
@import 'footer';
@import 'header';
@import 'mixins';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    --bs-gutter-x: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.contenedor-sobre-nosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    gap: 20px; 
}

.contenedor-sobre-nosotros .imagen-about-us {
    flex: 1 1 40%; 
    max-width: 40%; 
    img {
        width: 100%; 
        height: auto; 
    }
}

.contenedor-sobre-nosotros .contenido-textos {
    flex: 1 1 50%;
    max-width: 50%; 
    text-align: justify;
}

.contenedor-sobre-nosotros .contenido-textos p {
    margin-bottom: 15px;
}

.titulo {
    text-align: center;
    color: #090000;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .contenedor-sobre-nosotros {
        flex-direction: column;
        text-align: center;
    }

    .contenedor-sobre-nosotros .imagen-about-us,
    .contenedor-sobre-nosotros .contenido-textos {
        width: 100%;
        margin: 0 auto;
    }
}

main {
    background-color: rgba(255, 255, 255, 0);
}

.service-html {
    background-color: #a7b1b3;

    .galeria-service {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .imagen-service {
        width: 24%;
        margin-bottom: 10px;
        height: 150px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);

        .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .hover-galeria {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            transform: scale(0);
            background: hsla(244, 96%, 10%, 0.547);
            transition: transform .5s;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .img {
                width: 50px;
            }

            p {
                color: rgb(255, 255, 255);
            }
        }
    }
}

.imagen-service:hover .hover-galeria {
    transform: scale(1);
}

#menu {
    display: inline-block;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {
    .contenedor-sobre-nosotros {
        flex-direction: column; 
        text-align: center;
    }

    .contenido-textos {
        text-align: center;
        margin: 0 auto;
    }

    .contenido-textos p {
        width: 100%;
    }

    .menu {
        padding: 30px;
        align-content: center;
    }

    .menu label {
        display: initial;
        align-content: center;
    }

    .back {
        padding: 40px 0;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #2a394f;
        display: none;
        align-content: center;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
        align-content: center;
    }
}

main {
    background-color: rgba(255, 255, 255, 0);
}

#portada {
    color: #ffffff;
    text-align: center;
}

#historia {
    color: #ffffff;
    text-align: center;
}

.col-md-6 {
    color: #fbfafa;
    text-align: center;
}

.col-md-7 {
    color: #fbfafa;
    text-align: center;
}

.box1 {
    color: #ffffff;
    border-top: 100;
    background-color: $colorPrincipal;
    border-left: 1cm;
}

.taller {
    display: flex;
    justify-content: space-around;
}

.tarjteServicio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-content: center;
    background-color: #bbb8e423;
    border: 0px solid #0d0000;
    border-radius: 8px;
    text-align: center;
    margin: 15px 0; 
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
    img {
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        object-fit: cover;
    }

    .contenidoTarjeta {
        padding: 15px;
    }

    .botonTarjeta {
        padding: 10px;
    }
}

@media (max-width: 991px) {
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.contactanos {
    text-align: center; 
    margin-bottom: 20px; 
}

.contacto {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    max-width: 600px; 
    margin: auto;
}

.contacto label,
.contacto input,
.contacto select {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px; 
}

.contacto input,
.contacto select {
    width: 100%;
    padding: 8px;
    border: 1px solid #3b35f4;
    border-radius: 4px;
}

.contacto button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    display: block;
    margin: 20px auto;
}


.footerSection {
    background-color: #333;
    color: white;
    padding: 2em 0;
    text-align: center;
}

.footer-contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
}

.footer-links h4 {
    margin-bottom: 1em;
}

.footer-links p, .footer-links a {
    margin: 0.5em 0;
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.mapaUbicacion iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 10px;
}


#noticias {
    padding: 2em 0;
}

#noticias .box {
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
}

#noticias .imagenBox img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#noticias .detailBox h5 {
    margin: 0 0 1em;
}

#noticias .detailBox p {
    text-align: justify;
}

#noticias .detailBox a {
    color: #0056b3;
    text-decoration: none;
}

.tituloNuevos {
    text-align: center; 
    margin-bottom: 20px; 
}

#preciosNuevos {
    margin: 0 auto; 
    width: 80%; 
    max-width: 800px; 
}

.galeria-nuevos {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
}

.tarjetaUsados {
    display: flex;
    flex: 0 1 calc(33.33% - 20px);
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: center;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.tarjetaUsados img {
    width: 100%;
    max-width: 300px; 
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px; 
}

.tarjetaUsados .contenidoTarjNuevos {
    text-align: center;
}

.tarjetaUsados .botonTarjNuevos button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tarjetaUsados .botonTarjNuevos button:hover {
    background-color: #0056b3;
}

@media (max-width: 767px) { 

    .galeria-nuevos {
        justify-content: center; 
    }

    .tarjetaUsados {
        flex-basis: calc(50% - 20px); 
    }
}

.tituloUs {
    text-align: center; 
    margin-bottom: 20px;
}

.contenedorTabla {
    text-align: center; 
    margin-bottom: 20px;
}

.contenedorTabla table {
    margin: auto; 
}

.tarjetaUs {
    display: inline-block;
    vertical-align: top; 
    box-sizing: border-box;
    margin-bottom: 20px; 
}

.tarjetaUs img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.contenidoTarjUs,
.botonTarjUs {
    padding: 10px;
}

@media (max-width: 991px) {
    .tarjetaUs {
        width: calc(100% - 20px); 
    }
}